QWidget {
    background-color: #9ec9e7;
}

QLineEdit {
    background-color: white;
    font-size: 15px;
}

QLabel {
    font-size: 18px;
}

QPushButton {
    border: 0.5px solid black;
    background-color: rgb(224, 219, 219);
    color: black;
}

QLabel#title {
    font-size: 20px;
}

QPushButton#close_button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
}