QWidget {
    background-color: #9ec9e7;

}
QLabel#title{
    font-size: 20px;
}


QPushButton {
    border: 0.5px solid black;
    color: white;
}

QPushButton#accept_button{
    background-color: #45a049;
}
QPushButton#reject_button{
    background-color: red;
}