QWidget {
    background-color: #9ec9e7;

}

QLineEdit {
    background-color: white;
    font-size: 9px;
}

QLabel{
    font-size: 12px;
}
QPushButton {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #1d2546;
    font-weight: bold;
}
QLabel#instruction_name{
    font-size:15px;
}

QLabel#title{
    font-size: 20px;
}

QPushButton#close_button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
}
