QWidget {
    background-color: #9ec9e7;
}

QLineEdit {
    background-color: white;
    font-size: 9px;
}

QLabel {
    font-size: 12px;
}

QPushButton {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #1d2546;
    font-weight: bold;
}

QLabel#instruction_name {
    font-size:15px;
}

QLabel#title {
    font-size: 20px;
}

QPushButton#close_button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
}

QComboBox#frequency_combobox {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #1d2546;
    font-weight: bold;
}
  
QComboBox#frequency_combobox:drop-down {
    border: 0px;
    min-width: 25px;
}
  
QComboBox#frequency_combobox::down-arrow {
    image: url("ui/down_arrow.svg");
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
  
QComboBox#frequency_combobox:on {
    border: 4px solid #c2dbfe;
}
  
QComboBox#frequency_combobox QListView {
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 5px;
    background-color: #3266b3;
    outline: 0px;
    min-width: 40px;
}
  
QComboBox#frequency_combobox QListView:item {
    width: 110px;
  	left: 10px;
  	color: white;
  	font-size: 16px;
  	background-color: #3266b3;
}
  
QComboBox#frequency_combobox QListView:item:hover {
    background-color: #1e90ff;
}

QDateEdit {
	padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #1d2546;
    font-weight: bold;
}

QDateEdit::drop-down {
	image: url("ui/down_arrow.svg");
	width:12px;
    border-style: solid;
    border-width: 4px;
    margin-right: 5px;
}

QCalendarWidget QToolButton {
  	height: 20px;
  	width: 60px;
  	color: white;
  	font-size: 16px;
  	background-color: #1d2546;
}
QCalendarWidget QMenu {
  	width: 110px;
  	left: 10px;
  	color: white;
  	font-size: 16px;
  	background-color: #3266b3;
}
QCalendarWidget QSpinBox { 
  	width: 110px; 
  	font-size: 16px; 
  	color: white; 
  	background-color: #3266b3;
}
QCalendarWidget QWidget {
	alternate-background-color: #3266b3;
}
QCalendarWidget QWidget#qt_calendar_navigationbar { 
  background-color: #1d2546; 
}
QCalendarWidget QAbstractItemView:enabled {
  	font-size:16px;  
  	color: white;  
  	background-color: #1d2546;
}
QCalendarWidget QAbstractItemView:disabled { 
color: rgb(128, 128, 128); 
}
